<div class="row">
  
  <div class="column">
    <h3 [hidden]="!escolhido(0)">Dale!</h3>
      <img src="./assets/movie_images/amnesia.jpg" ><br/>
        <button [disabled]="!escolhido(0) && outroEscolhido()"
          (click)="vote(0)"> {{ voteUnvote(0) }} </button>
  </div>

  <div class="column">
    <h3 [hidden]="!escolhido(1)">Dale!</h3>
     <img src="./assets/movie_images/fightclub.jpg" ><br/>
        <button [disabled]="!escolhido(1) && outroEscolhido()"
          (click)="vote(1)"> {{ voteUnvote(1) }} </button>
  </div>

  <div class="column">
    <h3 [hidden]="!escolhido(2)">Dale!</h3>
      <img src="./assets/movie_images/poderosochefao.jpg"> <br/>
        <button [disabled]="!escolhido(2) && outroEscolhido()"
          (click)="vote(2)"> {{ voteUnvote(2) }} </button>
  </div>

  <div class="column">
    <h3  [hidden]="!escolhido(3)">Dale!</h3>
     <img src="./assets/movie_images/wolf.jpg" ><br/>
       <button [disabled]="!escolhido(3) && outroEscolhido()"
         (click)="vote(3)"> {{ voteUnvote(3) }} </button>
  </div>

</div>